.cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .carslot {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  .carslot img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .carslot p {
    font-size: 18px;
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 100%;
  }
  
