.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 20px;
}
.AboutMe{
  position: relative;
  left: 40%; 
}

.BuyCars{
  position: relative;
  left: 40%;
}

.SellCars{
  position: relative;
  left: 40%;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

button:hover {
  background-color: #8e3e3e;
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.9);
}


  
  